.gallary{
    width: 90%;
    margin: auto;
}

.gallary__head{
  border-bottom: 1px solid gray;
}

.gallary__main{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    padding-top: 10px;
}

.gallary__item__featured{
    width: 100%;
    grid-column: 1/span 2;
    grid-row: 1 / span 2;
    
}
.isDragging{
    opacity: 0;
}

.gallary__item{
   
    border-radius: 5px;
    box-sizing: border-box;
    max-width: 100%;
}

.gallary__item__featured{
    /* border: 1px solid gray;
    border-radius: 5px; */
    max-width: 100%;
}